{% extends "Student/base.html"%}
{% block content %}

<div class='container'>
<h3 class="headerclass"><strong><u>Course Details</strong></u></h3>
	<table class="table table-striped table-bordered">
		<thead class="thead-dark">
			<tr>
				<th> Course id</th>
				<th> Course title</th>
				<th> Course name</th>
				<th> Course section code</th>
				<th> Course department</th>
				<th> Instructor first name</th>
			</tr>
		</thead>
		<tbody>
		{% for row in data %}
			<tr>
				<td> {{row.courseid}}</td>
				<td> {{row.coursetitle}}</td>
				<td> {{row.coursename}}</td>
				<td> {{row.coursesectioncode}}</td>
				<td> {{row.coursedepartment}}</td>
				<td> {{row.instructorfullname}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	
	<div class='pagination'>
		<span class='step-links'>
			{% if data.has_previous %}
				<a href='?page={{data.previous_page_number}}'>Previous</a>
			{% endif %}
			<span class='current'>
				Page {{data.number}} of {{data.paginator.num_pages}}
			</span>
			{% if data.has_next %}
				<a href='?page={{data.next_page_number}}'>Next</a>
			{% endif %}
		</span>
	</div>
</div>

{% endblock %}